[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
ssh_state = True
delay = 300
glidein_loc = $HOME/glidein
# glidein_cmd = /usr/bin/python /home/briedel/glidein/submit_pbs_glidein.py


[Cluster]
user = briedel
os = RHEL6
scheduler = PBS
submit_command = qsub
total_jobs = 1500
limit_per_submit = 150
mem_per_core = 2700
max_disk = 300000
walltime_hrs = 14
cpus = 1
gpus = 1
cvmfs = True
gpu_only = False
# running_cmd = qstat -u briedel|grep briedel|grep -v C|wc|awk '{print \$1}'

[SubmitFile]
filename = submit
# executable = env_wrapper.sh
custom_header = #PBS -q gpu

# custom_body = export TMPDIR=/global/scratch/briedel/iceprod/scratch/${PBS_JOBID}
    mkdir $TMPDIR
custom_footer = rm -rf $TMPDIR
local_dir = $LSCRATCH
