[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
ssh_state = True
delay = -1
# loc = $HOME
# tarball = glidein.tar.gz
executable = glidein_start.sh 

[Cluster]
user = briedel
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 1500
limit_per_submit = 150
cvmfs = True
mem_per_core = 2700
walltime_hrs = 14
local_dir = $LSCRATCH
# gpu_only = False
# cpu_only = False
running_cmd = qstat -u briedel|grep briedel|grep -v C|wc|awk '{print $1}'

[SubmitFile]
filename = submit.pbs
custom_header = #PBS -A ngw-282-ac


