[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Bartol
loc = /home/icesprod/pyglidein
#delay = 600

[Cluster]
user = icesprod
os = RHEL7
scheduler = slurm
submit_command = sbatch
max_total_jobs = 100
limit_per_submit = 30
mem_per_core = 2000
walltime_hrs = 6
cvmfs = True
cpu_only = True
group_jobs = False
running_cmd = squeue --users=icesprod|grep icesprod|grep -v C|wc -l
#partition = C8_32,C8_16,C8_24,C12_24

[SubmitFile]
local_dir = /scratch/local/$USER/$SLURM_JOB_ID
#sbatch = #SBATCH

[CustomEnv]
GLIDEIN_DIR = /home/icesprod/pyglidein
