[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Bridges

[Cluster]
user = dschultz
os = RHEL7
scheduler = slurm
submit_command = sbatch
max_total_jobs = 1
limit_per_submit = 1
whole_node = True
whole_node_memory = 120000
whole_node_cpus = 28
whole_node_disk = 100000
whole_node_gpus = 4
walltime_hrs = 24
gpu_only = True
group_jobs = False
partition = GPU
running_cmd = squeue --users=dschultz|grep dschultz|grep -v C|wc -l

[SubmitFile]
local_dir = $LOCAL
sbatch = #SBATCH
custom_header = #SBATCH -C EGRESS
  %(sbatch)s --reservation=icecube

[CustomEnv]
GLIDEIN_DIR = /home/dschultz/pyglidein
#CACHE_DIR = /oasis/scratch/comet/dsschult/temp_project/cache
