[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
##address = http://glidein-test.icecube.wisc.edu:11001/jsonrpc
##cluster = glidein-test.icecube.wisc.edu
site = Bridges
delay = 600

[Cluster]
user = merino
os = RHEL7
scheduler = slurm
max_idle_jobs = 10
limit_per_submit = 10
walltime_hrs = 48
partitions = p100, k80, p100-shared, k80-shared

[p100]
gpu_only = True
whole_node = True
whole_node_memory = 120000
whole_node_cpus = 32
whole_node_disk = 8000000
whole_node_gpus = 2
partition = GPU
group_jobs = False
submit_command = sbatch --gres=gpu:p100:2
running_cmd = squeue -u $USER -t RUNNING -h -O gres -p GPU | grep p100 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O gres -p GPU | grep p100 | wc -l

[k80]
gpu_only = True
whole_node = True
whole_node_memory = 120000
whole_node_cpus = 28
whole_node_disk = 8000000
whole_node_gpus = 4
partition = GPU
group_jobs = False
submit_command = sbatch --gres=gpu:k80:4
running_cmd = squeue -u $USER -t RUNNING -h -O gres -p GPU | grep k80 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O gres -p GPU | grep k80 | wc -l


[p100-shared]
gpu_only = True
whole_node = True
whole_node_memory = 60000
whole_node_cpus = 16 
whole_node_disk = 1000000
whole_node_gpus = 1
partition = GPU-shared
group_jobs = False
submit_command = sbatch --gres=gpu:p100:1
running_cmd = squeue -u $USER -t RUNNING -h -O gres -p GPU-shared | grep p100 | wc -l
idle_cmd = squeue -u $USER -t PENDING -h -O gres  -p GPU-shared | grep p100 | wc -l

[k80-shared]
gpu_only = True
whole_node = True
whole_node_memory = 60000
whole_node_cpus = 7
whole_node_disk = 100000
whole_node_gpus = 1
partition = GPU-shared
group_jobs = False
submit_command = sbatch --gres=gpu:k80:1
running_cmd = squeue -u $USER -t RUNNING -h -O gres  -p GPU-shared | grep k80 | wc -l 
idle_cmd = squeue -u $USER -t PENDING -h -O gres  -p GPU-shared | grep k80 | wc -l

[SubmitFile]
filename = submit.pbs
local_dir = $LOCAL
sbatch = #SBATCH
custom_header = #SBATCH -C EGRESS

[CustomEnv]
GLIDEIN_DIR = /home/merino/pyglidein
