[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = ComputeCanada-Cedar

[Cluster]
scheduler = SLURM
walltime_hrs = 20
group_jobs = False
partitions = single,half,whole,singleGPU

[single]
cpu_only = True
whole_node = True
whole_node_cpus = 1
whole_node_memory = 3800
mem_per_core = 3800
whole_node_disk = 4000
running_cmd = squeue -h -t R -O NumCPUs -u $USER | grep -cF "1"
idle_cmd = squeue -h -t PD -O NumCPUs -u $USER | grep -cF "1"
max_total_jobs = 2000
max_idle_jobs = 500
limit_per_submit = 300
submit_command = sbatch --account=rpp-kenclark

[half]
cpu_only = True
whole_node = True
whole_node_cpus = 2
whole_node_memory = 7600
mem_per_core = 3800
whole_node_disk =8000
running_cmd = squeue -h -t R -O NumCPUs -u $USER | grep -cF "2"
idle_cmd = squeue -h -t PD -O NumCPUs -u $USER | grep -cF "2"
max_total_jobs = 600
max_idle_jobs = 200
limit_per_submit = 100
submit_command = sbatch --account=rpp-kenclark

[whole]
cpu_only = True
whole_node = True
whole_node_cpus = 4
whole_node_memory = 15200
mem_per_core = 3800
whole_node_disk =16000
running_cmd = squeue -h -t R -O NumCPUs -u $USER | grep -cF "4"
idle_cmd = squeue -h -t PD -O NumCPUs -u $USER | grep -cF "4"
max_total_jobs = 300
max_idle_jobs = 60
limit_per_submit = 60
submit_command = sbatch --account=rpp-kenclark

[singleGPU]
gpu_only = True
whole_node = True
whole_node_gpus = 1
whole_node_cpus = 2
whole_node_memory = 7600
mem_per_core = 3800
whole_node_disk = 8000
running_cmd = squeue -a -h -t R -u $USER | grep -cF "gpu:1"
idle_cmd = squeue -a -h -t PD -u $USER | grep -cF "gpu:1"
max_total_jobs = 1000
max_idle_jobs = 300
limit_per_submit = 100
submit_command = sbatch --account=rpp-kenclark

[SubmitFile]
executable = /scratch/iceprod/pyglidein/pyglidein/glidein_start_singularity.sh
custom_middle = module load singularity/3.5
local_dir = $SLURM_TMPDIR

[CustomEnv]
SINGULARITY_BIN = /opt/software/singularity-3.5/bin/singularity
GROUP = Alberta