[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Cedar

[Cluster]
scheduler = SLURM
walltime_hrs = 20
group_jobs = False
running_cmd = squeue -u $USER|grep $USER|wc -l
partitions = cpus

[cpus]
cpu_only = True
whole_node = True
whole_node_cpus = 2
whole_node_memory = 4000
mem_per_core = 4000
whole_node_disk = 20000
running_cmd = squeue -u $USER |grep $USER|grep " R " | wc -l
idle_cmd = squeue -u $USER  |grep $USER|grep -v " R " |wc -l
max_total_jobs = 50
max_idle_jobs = 20
limit_per_submit = 5
submit_command = sbatch --account=rpp-kenclark

[SubmitFile]
executable = ~/projects/def-kenclark-ab/jrajewsk/pyglidein/pyglidein/glidein_start_singularity.sh
custom_middle = module load singularity/3.2
local_dir = $SLURM_TMPDIR

[CustomEnv]
SINGULARITY_BIN = /opt/software/singularity-3.2/bin/singularity
GROUP = Alberta