[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Comet

[Cluster]
user = dsschult
os = RHEL6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 100
limit_per_submit = 10
mem_per_core = 4900
walltime_hrs = 24
gpu_only = True
group_jobs = False
parition = gpu-shared
running_cmd = squeue --users=dsschult|grep dsschult|grep -v C|wc -l

[SubmitFile]
local_dir = /scratch/$USER/$SLURM_JOB_ID
custom_header = #SBATCH -A wis142
custom_middle = export CACHE_DIR=/oasis/scratch/comet/dsschult/temp_project/cache
