[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Comet

[Cluster]
user = gmerino
os = RHEL6
scheduler = slurm
submit_command = sbatch
walltime_hrs = 48
max_idle_jobs = 10
limit_per_submit = 10
partitions = gpu,gpu-shared

[gpu]
gpu_only = True
whole_node = True
whole_node_memory = 120000
whole_node_cpus = 24 
whole_node_disk = 400000
whole_node_gpus = 4
group_jobs = False
partition = gpu
running_cmd = squeue -u $USER -t RUNNING -p gpu -h | wc -l
idle_cmd = squeue -u $USER -t PENDING -p gpu -h | wc -l

[gpu-shared]
gpu_only = True
whole_node = True
whole_node_memory = 25000
whole_node_cpus = 6
whole_node_disk = 400000
whole_node_gpus = 1
group_jobs = False
partition = gpu-shared
running_cmd = squeue -u $USER -t RUNNING -p gpu-shared -h | wc -l 
idle_cmd = squeue -u $USER -t PENDING -p gpu-shared -h | wc -l

[SubmitFile]
filename = submit.pbs
local_dir = /scratch/$USER/$SLURM_JOB_ID
custom_header = #SBATCH -A wis142 --exclude=comet-31-06

[CustomEnv]
CACHE_DIR = /oasis/scratch/comet/gmerino/temp_project/cache
