[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
ssh_state = False
delay = -1
loc = $HOME/pyglidein
# tarball = glidein.tar.gz
executable = glidein_start.sh 
site = Comet

[Cluster]
user = dsschult
os = RHEL6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 1
limit_per_submit = 1
cvmfs = True
mem_per_core = 5000
walltime_hrs = 14
gpu_only = True
# cpu_only = False
running_cmd = squeue --users=dsschult|grep dsschult|grep -v C|wc -l

[SubmitFile]
filename = submit.slurm
local_dir = /scratch/$USER/$SLURM_JOB_ID


