[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Comet

[Cluster]
user = dsschult
os = RHEL6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 30
limit_per_submit = 5
mem_per_core = 5000
walltime_hrs = 14
gpu_only = True
running_cmd = squeue --users=dsschult|grep dsschult|grep -v C|wc -l

[SubmitFile]
local_dir = /scratch/$USER/$SLURM_JOB_ID


