[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Guillimin
ssh_state = True
delay = -1
loc = $HOME/pyglidein
# tarball = glidein.tar.gz

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 1500
limit_per_submit = 150
cvmfs = True
mem_per_core = 2700
max_disk_per_job = 20000
walltime_hrs = 14
gpu_only = True
group_jobs = False
running_cmd = showq -u $USER|grep $USER|wc -l
pmem_only = True

[SubmitFile]
filename = submit.pbs
local_dir = $LSCRATCH
custom_header = #PBS -A ngw-282-ac


