[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Guillimin

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
walltime_hrs = 20
group_jobs = False
pmem_only = True
running_cmd = showq -u $USER|grep $USER|wc -l
partitions = pass2, gpusmall, gpularge

[pass2]
cpu_only = True
whole_node = True
whole_node_cpus = 2
whole_node_memory = 5000
whole_node_disk = 20000
running_cmd = showq -u $USER -p gm-1r16-n04 -r|grep $USER|wc -l
idle_cmd = showq -u $USER -p  gm-1r16-n04 -i|grep Idle|wc -l
max_total_jobs = 900
max_idle_jobs = 500
limit_per_submit = 100

[gpusmall]
gpu_only = True
whole_node = True
whole_node_cpus = 2
whole_node_gpus = 1
whole_node_memory = 4500
whole_node_disk = 20000
running_cmd = showq -u $USER -p gpu -r|grep $USER|wc -l
idle_cmd = showq -u $USER -p gpu -i|grep Idle|wc -l
max_total_jobs = 200
max_idle_jobs = 100
limit_per_submit = 10

[gpularge]
gpu_only = True
whole_node = True
whole_node_cpus = 4
whole_node_gpus = 2
whole_node_memory = 15000
whole_node_disk = 80000
running_cmd = showq -u $USER -p gpu -r|grep $USER|wc -l
idle_cmd = showq -u $USER -p gpu -i|grep Idle|wc -l
max_total_jobs = 200
max_idle_jobs = 100
limit_per_submit = 10

[SubmitFile]
filename = submit.pbs
local_dir = $LSCRATCH
custom_header = #PBS -A ngw-282-ac


