# Harvard specific extra attributes. 
# HTCondor MIG detection doesn't provide the 
# CUDA capability, which is needed by IceProd
# Harvard has a large variety of GPUs and 
# some are MIG and others aren't. This is needed
# for the MIG ones
GPUs_Capability = 6.2 
