[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = Illume-UAlberta

[Cluster]
user = iceprod
scheduler = HTCondor
walltime_hrs = 20
group_jobs = False
submit_command = condor_submit
partitions = singleGPU,halfGPU,wholeGPU

[singleGPU]
gpu_only = True
whole_node = True
whole_node_gpus = 1
whole_node_cpus = 2
whole_node_memory = 16000
whole_node_disk = 25000
running_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "iceprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "iceprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 100
max_idle_jobs = 20
limit_per_submit = 10

[halfGPU]
gpu_only = True
whole_node = True
whole_node_gpus = 2
whole_node_cpus = 4
whole_node_memory = 64000
whole_node_disk = 50000
running_cmd = condor_q -constraint 'RequestGPUs == 2 && Owner == "iceprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 2 && Owner == "iceprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 10
limit_per_submit = 5

[wholeGPU]
gpu_only = True
whole_node = True
whole_node_gpus = 4
whole_node_cpus = 14
whole_node_memory = 122800
whole_node_disk = 100000
running_cmd = condor_q -constraint 'RequestGPUs == 4 && Owner == "iceprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 4 && Owner == "iceprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 25
max_idle_jobs = 5
limit_per_submit = 1

[SubmitFile]
executable = /home/user/iceprod/pyglidein/glidein_start_singularity.sh

[CustomEnv]
SINGULARITY_BIN = /usr/local/bin/singularity
GROUP = Alberta[Mode]
