[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = jasper 

[Cluster]
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 2800
limit_per_submit = 100
mem_per_core = 2000
walltime_hrs = 14
cpu_only = True
group_jobs = True
running_cmd = showq -u $USER|grep $USER|wc -l

[SubmitFile]
local_dir = $TMPGLIDEIN
# custom_header = #PBS -q gpu
custom_middle = export TMPGLIDEIN=/home/briedel/iceprod/scratch/${PBS_JOBID}
    mkdir $TMPGLIDEIN
custom_end = rm -rf $TMPGLIDEIN
