[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = LIDO_Dortmund
loc = /work/smmmboer/pyglidein

[Cluster]
user = $USER
os = RHEL7
scheduler = slurm
cvmfs = False
submit_command = sbatch -N 1 --exclusive --gres=gpu:2 -p med
max_total_jobs = 40
whole_node = True
whole_node_memory = 60000
whole_node_cpus = 20
whole_node_gpus = 2
whole_node_disk = 800000
group_jobs = False
limit_per_submit = 4
walltime_hrs = 8
running_cmd = squeue -u smmmboer -t RUNNING|grep smmmboer|grep cgpu01|wc -l
idle_cmd = squeue -u smmmboer -t PENDING|grep smmmboer|grep cgpu01|wc -l
gpu_only = True
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID


[CustomEnv]
GLIDEIN_DIR = /work/smmmboer/pyglidein


[SubmitFile]
filename = glidein_gpu.sh
local_dir = /scratch/$USER/glidein/$SLURM_JOB_ID
custom_end = rm -rf $LOCAL_DIR
