[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = LIDO_Dortmund

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 256
limit_per_submit = 32
cvmfs = True
mem_per_core = 3500
max_disk_per_job = 40000
max_memory_per_job = 14000
max_cpus_per_job = 4 
node_property = std
whole_node = False
whole_node_memory = 14000
whole_node_cpus = 8
whole_node_disk = 100000
whole_node_gpus = 0
walltime_hrs = 8
cpu_only = True
prioritize_jobs = ["disk", "memory"]
group_jobs = False
running_cmd = qstat -r -u $USER|grep glidein_std|wc -l
idle_cmd = qstat -i -u $USER|grep glidein_std|wc -l
pvmem = True
cleanup = True
dir_cleanup = /scratch/$USER/glidein/${PBS_JOBID}

[SubmitFile]
filename = glidein_std.pbs
local_dir = /scratch/$USER/glidein/${PBS_JOBID}
custom_end = rm -rf $LOCAL_DIR
