[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = LIDO_Dortmund
loc = /home/smmmboer/software/pyglidein

[Cluster]
user = $USER
os = RHEL7
scheduler = slurm
cvmfs = False
cpu_only = True
max_total_jobs = 256
submit_command = sbatch -N 1 --exclusive -p med 
whole_node = True
whole_node_memory = 60000
whole_node_cpus = 20
whole_node_disk = 800000
group_jobs = False
max_total_jobs = 100
limit_per_submit = 40
walltime_hrs = 8
running_cmd = squeue -u smmmboer -t RUNNING|grep smmmboer|grep cstd01|wc -l
idle_cmd = squeue -u smmmboer -t PENDING|grep smmmboer|grep cstd01|wc -l
cleanup = True
dir_cleanup = /scratch/$USER/glidein/$SLURM_JOB_ID

[CustomEnv]
GLIDEIN_DIR = /home/smmmboer/software/pyglidein


[SubmitFile]
filename = glidein_cpu.sh
local_dir = /scratch/$USER/glidein/$SLURM_JOB_ID
custom_end = rm -rf $LOCAL_DIR
