[Mode]
debug = False
dryrun = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = mainz
executable = glidein_start.sh
delay = -1

[Cluster]
user = tehrhard
os = SL6
scheduler = LSF
cvmfs = True
submit_command = bsub <
max_total_jobs = 16
limit_per_submit = 16
mem_per_core = 8000
walltime_hrs = 18
gpu_only = True
cpu_only = False
group_jobs = True
running_cmd = bjobs|grep icegpulong|wc -l

[SubmitFile]
local_dir = $TMPGLIDEIN
filename = glidein_gpu.lsf
custom_header = #BSUB -q icegpulong
custom_middle = export TMPGLIDEIN=/gpfs/fs3/icecube/iceprod/scratch/${LSB_JOBID}_${LSB_JOBINDEX}
    mkdir $TMPGLIDEIN
custom_end = rm -rf $TMPGLIDEIN
ref_host = j0001
mem_safety_scale = 1
mem_scale = 1
