[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = NERSC 
loc = 

[Cluster]
user = $USER
os = RHEL7
scheduler = slurm
cvmfs = True
submit_command = sbatch
walltime_hrs = 24
max_idle_jobs = 1
max_total_jobs = 200
partitions = whole

[whole] 
cpu_only = True
max_total_jobs = 200
whole_node = True
whole_node_memory = 120000
whole_node_cpus = 64 
whole_node_disk = 800000
group_jobs = False
max_total_jobs = 100
limit_per_submit = 25
walltime_hrs = 24
partition=regular
running_cmd = squeue -u $USER -t RUNNING|grep $USER|wc -l
idle_cmd = squeue -u $USER -t PENDING|grep $USER|wc -l
cleanup = True
dir_cleanup = /global/cscratch1/sd/$USER/icecube/scratch/$SLURM_JOB_ID


[CustomEnv]
GLIDEIN_DIR = $HOME/icecube/pyglidein/pyglidein

[SubmitFile]
filename = glidein_cpu.sh
local_dir = /global/cscratch1/sd/$USER/icecube/scratch/$SLURM_JOB_ID
custom_header = #SBATCH -A m1093
    #SBATCH --image=docker:opensciencegrid/osgvo-el7:latest
    #SBATCH --module=cvmfs
    #SBATCH -L SCRATCH
    #SBATCH -C haswell
    #SBATCH --exclusive
