[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = NPX

[Cluster]
user = ice3simusr
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 1000
limit_per_submit = 100
gpu_only = True
running_cmd = condor_q ice3simusr|grep ice3simusr|wc|awk '{print $1}'

[SubmitFile]
requirements = CUDACapability

[CustomEnv]
http_proxy = http://squid.icecube.wisc.edu:3128
