[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = NPX

[Cluster]
user = ice3simusr
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
limit_per_submit = 5
walltime_hrs = 48
partitions = half, quarter, single

[half]
gpu_only = True
whole_node = True
whole_node_gpus = 4
whole_node_cpus = 16
whole_node_memory = 32000
whole_node_disk = 320000
running_cmd = condor_q -constraint 'RequestGPUs == 4 && Owner == "ice3simusr"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 4 && Owner == "ice3simusr" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[quarter]
gpu_only = True
whole_node = True
whole_node_gpus = 2
whole_node_cpus = 8
whole_node_memory = 16000
whole_node_disk = 160000
running_cmd = condor_q -constraint 'RequestGPUs == 2 && Owner == "ice3simusr"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 2 && Owner == "ice3simusr" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[single]
gpu_only = True
max_cpus_per_job = 1
max_gpus_per_job = 1
max_memory_per_job = 4000
max_disk_per_job = 40000
mem_per_core = 4000
running_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "ice3simusr"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "ice3simusr" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[SubmitFile]
requirements = CUDACapability

[CustomEnv]
http_proxy = http://squid.icecube.wisc.edu:3128
