[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = osgconnect

[Cluster]
user = dschultz
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 1000
max_cpus_per_job = 1
max_memory_per_job = 3000
max_disk_per_job = 80000
limit_per_submit = 50
running_cmd = condor_q dschultz|grep dschultz|wc|awk '{print $1}'

[SubmitFile]
log = /local-scratch/dschultz/pyglidein_condor_log
custom_middle = +ProjectName = "IceCube"
    +osg_site_blacklist="OSCER_ATLAS Florida Omaha"
    Requirements = OSGVO_OS_STRING == "RHEL 6" && GLIDEIN_Site =!= "Florida" && GLIDEIN_Site =!= "Omaha" && HAS_CVMFS_icecube_opensciencegrid_org =?= True

