[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = osgconnect

[Cluster]
user = dschultz
#os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 2000
max_cpus_per_job = 1
max_memory_per_job = 3000
max_disk_per_job = 80000
limit_per_submit = 50
cpu_only = True
running_cmd = condor_q -constraint 'Owner =?= "dschultz" && RequestGPUs =?= undefined'|grep dschultz|wc|awk '{print $1}'

[SubmitFile]
log = /local-scratch/dschultz/pyglidein_condor_log
custom_middle = +ProjectName = "IceCube"
    +osg_site_blacklist="OSCER_ATLAS Florida"
    Requirements = (HAS_SINGULARITY =?= True || OpSysAndVer =?= "CentOS6" || OpSysAndVer =?= "RedHat6" || OpSysAndVer =?= "SL6") && HAS_CVMFS_icecube_opensciencegrid_org =?= True
    +SingularityBindCVMFS = True
