[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
executable = glidein_start.sh

[Cluster]
user = dschultz
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 1000
limit_per_submit = 50
running_cmd = condor_q dschultz|grep dschultz|wc|awk '{print $1}'

[SubmitFile]
custom_body = +ProjectName = "IceCube"
    +osg_site_blacklist="OSCER_ATLAS"
    Requirements = (HAS_CVMFS_icecube_opensciencegrid_org =?= True)