[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
ssh_state = True
delay = -1
loc = $HOME/pyglidein
# tarball = glidein.tar.gz
executable = glidein_start.sh 

[Cluster]
user = briedel
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 1500
limit_per_submit = 150
cvmfs = True
# mem_per_core = 2700
walltime_hrs = 14
gpu_only = True
# cpu_only = False
running_cmd = qstat -u briedel|grep briedel|grep -v C|wc -l

[SubmitFile]
filename = submit.pbs
local_dir = $TMPGLIDEIN
custom_header = #PBS -q gpu
custom_middle = export TMPGLIDEIN=/global/scratch/briedel/iceprod/scratch/${PBS_JOBID}
    mkdir $TMPGLIDEIN
custom_end = rm -rf $TMPGLIDEIN


