[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = parallel

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
walltime_hrs = 20
group_jobs = False
pmem_only = True
running_cmd = showq -u $USER -r|grep $USER|wc -l
idle_cmd = showq -u $USER -i|grep Idle|wc -l
max_total_jobs = 1000
max_idle_jobs = 100
limit_per_submit = 10
partitions = gpusmall, gpularge
cleanup = True
dir_cleanup = /global/scratch/$USER/iceprod/scratch/

[gpusmall]
gpu_only = True
whole_node = True
whole_node_cpus = 4
whole_node_gpus = 1
whole_node_memory = 7500
mem_per_core = 100000
whole_node_disk = 100000

[gpularge]
gpu_only = True
whole_node = True
whole_node_cpus = 12
whole_node_gpus = 3
whole_node_memory = 22500
mem_per_core = 100000
whole_node_disk = 1000000

[SubmitFile]
local_dir = /global/scratch/$USER/iceprod/scratch/${PBS_JOBID}
custom_header = #PBS -q gpu

