[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = parallel

[Cluster]
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 1001
limit_per_submit = 100
mem_per_core = 3072
walltime_hrs = 14
gpu_only = True
group_jobs = False
running_cmd = showq -u $USER|grep $USER|wc -l
cleanup = True
dir_cleanup = /global/scratch/$USER/iceprod/scratch/

[SubmitFile]
local_dir = /global/scratch/$USER/iceprod/scratch/${PBS_JOBID}
custom_header = #PBS -q gpu
