[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = PHIDO_Dortmund

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 100
limit_per_submit = 62
cvmfs = True
vmem_only = True
mem_per_core = 3750
max_disk_per_job = 80000
max_memory_per_job = 15000
max_cpus_per_job = 4
whole_node = False
whole_node_memory = 30000
whole_node_cpus = 8
whole_node_disk = 200000
whole_node_gpus = 0
walltime_hrs = 4
cpu_only = True
prioritize_jobs = ["disk", "memory"]
group_jobs = False
running_cmd = qstat -r -u $USER|grep glidein_short|wc -l
idle_cmd = qstat -i -u $USER|grep glidein_short|wc -l
cleanup = True
dir_cleanup = /local/$USER/glidein/${PBS_JOBID}

[SubmitFile]
custom_header = #PBS -M mathis.boerner@icecube.wisc.edu -m a
filename = glidein_short.pbs
local_dir = /local/$USER/glidein/${PBS_JOBID}
custom_end = rm -rf $LOCAL_DIR
