[Mode]
debug = True

[Glidein]
site = T2B_BE_IIHE
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
delay = 600
loc = /swmgrs/icecubes/pyglidein
#tarball = $HOME/pyglidein/glidein.tar.gz
executable = glidein_start.sh

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 1300
max_idle_jobs = 100
limit_per_submit = 100
cvmfs = True
mem_per_core = 5001
max_disk = 10000
max_memory_per_job = 10002
max_cpus_per_job = 2
walltime_hrs = 15
gpu_only = False
cpu_only = True
#pmem_only = True # Not useful for mcore, since mem is already here & pmem "enforces" limit per core
prioritize_jobs = ["memory", "disk"]

#required for PBS
group_jobs = False

#running_cmd = qstat -u $USER|grep glidein|wc -l
#running_cmd =  qstat -u $USER | grep glidein | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
#running_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep glidein-highmem | wc -l
running_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep -v gpu | grep " R " | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
idle_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep -v gpu | grep " Q "| awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'

[SubmitFile]
custom_header = #PBS -q highmem
custom_middle = export http_proxy="http://proxyt2b.wn.iihe.ac.be:3128"
filename = glidein-cpu.pbs
local_dir = $TMPDIR
