[Mode]
debug = True

[Glidein]
site = T2B_BE_IIHE
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
delay = 600
loc = /swmgrs/icecubes/pyglidein
#tarball = $HOME/pyglidein/glidein.tar.gz
executable = glidein_start.sh

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub
max_total_jobs = 15
max_idle_jobs = 5
limit_per_submit = 15
cvmfs = True
mem_per_core = 6000
max_disk = 15000
max_memory_per_job = 6000
max_cpus_per_job = 1
max_gpus_per_job = 1
walltime_hrs = 24
gpu_only = True
cpu_only = False
pmem_only = True
prioritize_jobs = ["gpu", "memory"]

#required for PBS
group_jobs = False

#running_cmd = qstat -u $USER|grep glidein|wc -l
#running_cmd =  qstat -u $USER | grep glidein | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
#running_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep glidein-gpu.pbs | wc -l
running_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep gpu | grep " R " | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
idle_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep gpu | grep " Q "| awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'

[SubmitFile]
custom_header = #PBS -q gpu
custom_middle = export http_proxy="http://proxyt2b.wn.iihe.ac.be:3128"
filename = glidein-gpu.pbs
local_dir = $TMPDIR
