[Mode]
debug = True

[Glidein]
site = T2B_BE_IIHE
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
delay = 600
loc = $HOME/pyglidein
#tarball = glidein.tar.gz

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
submit_command = qsub -q icecube
max_total_jobs = 200
limit_per_submit = 50
cvmfs = True
mem_per_core = 2700
walltime_hrs = 15
gpu_only = False
cpu_only = True
pmem_only = True
running_cmd = qstat -u $USER|grep glidein|wc -l

[SubmitFile]
filename = glidein.pbs
local_dir = $TMPDIR
