[Mode]
debug = True
#dryrun = True

[Glidein]
site = T2B_BE_IIHE
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
delay = 600
loc = /swmgrs/icecubes/pyglidein
executable = glidein_start.sh

[Cluster]
user = $USER
os = SL6
scheduler = PBS
cvmfs = True
pmem_only = False

#required for PBS
group_jobs = False

partitions = highmem,gpu2,gpu6


[highmem]
gpu_only = False
cpu_only = True
whole_node = True
whole_node_cpus = 2
whole_node_memory = 8192
whole_node_disk = 20000
max_running_jobs = 5900
max_total_jobs = 10000
max_idle_jobs = 100
limit_per_submit = 50
walltime_hrs = 15
submit_command = qsub -q highmem
running_cmd = { qstat -r -u icecuber; qstat -r -u icecubepilot; } | grep "^[0-9]*.cream02" | grep -v gpu | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
idle_cmd = { qstat -u icecuber; qstat -u icecubepilot; } | grep "^[0-9]*.cream02" | grep -v gpu | grep " Q "| awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'

[gpu2]
gpu_only = True
whole_node = True
whole_node_gpus = 2
whole_node_cpus = 8
whole_node_memory = 12000
whole_node_disk = 900000
max_running_jobs = 1
max_total_jobs = 1
max_idle_jobs = 1
limit_per_submit = 1
walltime_hrs = 167
submit_command = qsub -q gpu2
running_cmd = { qstat -r -u icecuber; qstat -r -u icecubepilot; } | grep "^[0-9]*.cream02" | grep "gpu2" | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
idle_cmd = qstat -u icecuber | grep "^[0-9]*.cream02" | grep "gpu2" | grep " Q "| awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'

[gpu6]
gpu_only = True
whole_node = True
whole_node_gpus = 6
whole_node_cpus = 24
whole_node_memory = 64000
whole_node_disk = 150000
max_total_jobs = 48
max_idle_jobs = 1
limit_per_submit = 2
walltime_hrs = 167
submit_command = qsub -q gpu6
running_cmd = { qstat -r -u icecuber; qstat -r -u icecubepilot; } | grep "^[0-9]*.cream02" | grep "gpu6" | awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'
idle_cmd = qstat -u icecuber | grep "^[0-9]*.cream02" | grep "gpu6" | grep " Q "| awk '{TOT += $7} END { if(TOT!="") print TOT; else print 0; }'

[CustomEnv]
http_proxy = http://proxy.wn.iihe.ac.be:3128
GLIDEIN_PARROT_TMP=$TMPDIR

[SubmitFile]
custom_middle = ". /swmgrs/icecubes/set_gpus.sh"
filename = glidein.pbs
local_dir = $TMPDIR

