[Mode]
debug = False
dryrun = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
loc = /home/ecp-admin/pyglidein
site = TUM

[Cluster]
cvmfs = True
gpu_only = True
limit_per_submit = 12
max_total_jobs = 12
mem_per_core = 6000
os = RHEL7
partition = gpu
prioritize_jobs = ["memory", "disk"]
running_cmd = squeue --user=ecp-admin | grep ecp | grep -v C | wc -l
scheduler = slurm
submit_command = sbatch
user = ecp-admin
walltime_hrs = 24
whole_node = False

[SubmitFile]
filename = submit.sh
local_dir = /var/tmp/icecube_job$SLURM_JOB_ID
