[Mode]
debug = False

[Glidein]
site = UMD
uuid = ice3simprod@condor00.umd.edu
executable = glidein_start.sh
# run every 300 seconds
delay = 300

[Cluster]
user = Ubuntu_18.04_Singularity_Centos7
os = Ubuntu_14.04
scheduler = HTCondor
submit_command = condor_submit
#max_total_jobs = 150
#limit_per_submit = 50
cvmfs = True
#mem_per_core = 2048
walltime_hrs = 48
#gpu_only = True
#running_cmd = condor_q $USER|grep wrapper|wc|awk '{print $1}'
partitions = gpu, cpu

# not running right now
[whole]
gpu_only = True
whole_node = True
whole_node_gpus = 8
whole_node_cpus = 16
whole_node_memory = 64000
whole_node_disk = 640000
running_cmd = condor_q -constraint 'RequestGPUs == 8 && Owner == "icesimprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 8 && Owner == "icesimprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 15
#limit_per_submit = 15

[gpu]
gpu_only = True
whole_node = True
whole_node_gpus = 1
whole_node_cpus = 2
whole_node_memory = 8000
whole_node_disk = 80000
running_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "icesimprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "icesimprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 100
max_idle_jobs = 15
limit_per_submit = 15

[cpu]
cpu_only = True
whole_node = True
whole_node_cpus = 8
whole_node_memory = 32000
#mem_per_core = 4000
whole_node_disk = 160000
#max_cpus_per_job = 8
running_cmd = condor_q -constraint 'isUndefined(RequestGPUs) && Owner == "icesimprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'isUndefined(RequestGPUs) && Owner == "icesimprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 150
#max_total_jobs = 45
max_idle_jobs = 10
limit_per_submit = 15



[half]
gpu_only = True
whole_node = True
whole_node_gpus = 4
whole_node_cpus = 16
whole_node_memory = 32000
whole_node_disk = 320000
running_cmd = condor_q -constraint 'RequestGPUs == 4 && Owner == "icesimprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 4 && Owner == "icesimprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 15


[quarter]
gpu_only = True
whole_node = True
whole_node_gpus = 2
whole_node_cpus = 8
whole_node_memory = 16000
whole_node_disk = 160000
running_cmd = condor_q -constraint 'RequestGPUs == 2 && Owner == "icesimprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 2 && Owner == "icesimprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[single]
gpu_only = True
max_cpus_per_job = 1
max_gpus_per_job = 1
max_memory_per_job = 4000
max_disk_per_job = 40000
mem_per_core = 4000
running_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "icesimprod"' -af ClusterId|wc -l
idle_cmd = condor_q -constraint 'RequestGPUs == 1 && Owner == "icesimprod" && JobStatus == 1' -af ClusterId|wc -l
max_total_jobs = 50
max_idle_jobs = 5
limit_per_submit = 5

[CustomEnv]
http_proxy = http://squid.private.pa.umd.edu:3128
LD_LIBRARY_PATH = /host-libs

[SubmitFile]
custom_middle = +SingularityImage     = "/data/condor_builds/singularity_images/osgvo-el7/centos_7_umd/"
#local_dir = "/data/i3home/icesimprod/logs"
