[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = xsede-osg
uuid = dsschult@xsede-osg-himem
executable = glidein_start.sh

[Cluster]
user = dsschult
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 2500
max_cpus_per_job = 2
max_memory_per_job = 4500
max_disk_per_job = 80000
limit_per_submit = 100
cpu_only = True
running_cmd = condor_q -constraint 'Owner =?= "dsschult" && RequestMemory > 2300'|grep dsschult|wc|awk '{print $1}'

[SubmitFile]
log = /local-scratch/dsschult/pyglidein_condor_log
custom_middle = +ProjectName = "TG-PHY150040"
    +osg_site_blacklist="OSCER_ATLAS Florida"
    Requirements = OSGVO_OS_STRING == "RHEL 6"
