[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = xstream

[Cluster]
user = xs-dsschult
os = RHEL6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 1
limit_per_submit = 10
mem_per_core = 5000
walltime_hrs = 12
gpu_only = True
group_jobs = False
running_cmd = squeue --users=xs-dsschult|grep dsschult|grep -v C|wc -l

[SubmitFile]
local_dir = $LSTOR
custom_header = #SBATCH --gres-flags=enforce-binding

[CustomEnv]
GLIDEIN_DIR = /home/xsede/users/xs-dsschult/pyglidein
CACHE_DIR = /cstor/xsede/projects/p-phy150040/cache
