[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = xstream

[Cluster]
user = xs-heaths
os = RHEL6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 50
limit_per_submit = 10
mem_per_core = 5000
walltime_hrs = 47
gpu_only = True
group_jobs = False
running_cmd = squeue --users=xs-heaths|grep -v C|wc -l

[SubmitFile]
filename = submit.pbs
sbatch = #SBATCH
local_dir = $LSTOR
custom_header = #SBATCH --gres-flags=enforce-binding

[CustomEnv]
CACHE_DIR = /cstor/xsede/projects/p-phy150040/cache

[StartdLogging]
send_startd_logs = True
url = s3.amazonaws.com
bucket = pyglidein-logging-xstream

[StardChecks]
enable_startd_checks = True
