[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = DESY
delay = 600
loc = /afs/ifh.de/group/amanda/icecube/icegrid/pyglidein
tarball = glidein.tar.gz

[Cluster]
user = iceprod
os = RHEL6
scheduler = UGE
submit_command = qsub -w e
max_total_jobs = 80
limit_per_submit = 80
cvmfs = True
max_memory_per_job = 64000
max_cpus_per_job = 16
walltime_hrs = 24
gpu_only = True
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein.gpu'|wc -l

[SubmitFile]
filename = glidein.gpu
local_dir = $TMPDIR
cvmfs_job_wrapper = False

