[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = DESY
delay = 600
loc = /afs/ifh.de/group/amanda/icecube/icegrid/pyglidein
tarball = glidein.tar.gz

[Cluster]
user = iceprod
os = RHEL6
scheduler = UGE
submit_command = qsub -w e
cvmfs = True
mem_per_core = 4000
max_memory_per_job = 64000
max_cpus_per_job = 16
walltime_hrs = 24
cpu_only = True
running_cmd = qstat -s r -u $USER -xml |grep '<JB_name>glidein.cpu'|wc -l
idle_cmd = qstat -s p -u $USER -xml |grep '<JB_name>glidein.cpu'|wc -l
max_total_jobs = 1000
max_idle_jobs = 100
limit_per_submit = 100

[SubmitFile]
filename = glidein.cpu
local_dir = $TMPDIR

