[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = PSU

[Cluster]
user = $USER
os = RHEL6
scheduler = PBS
walltime_hrs = 12
group_jobs = False
pmem_only = True
partitions = gpu
#partitions = cpu, gpu, highmem

[cpu]
cpu_only = True
whole_node = True
whole_node_cpus = 1
whole_node_memory = 4000
whole_node_disk = 40000
submit_command = qsub -A cyberlamp -l qos=cl_open -N glidein_cpu
running_cmd = qstat | grep "R " | grep glidein_cpu -c
idle_cmd = qstat | grep "Q " | grep glidein_cpu -c
max_total_jobs = 2000
max_idle_jobs = 500
limit_per_submit = 40

[highmem]
cpu_only = True
whole_node = True
whole_node_cpus = 2
whole_node_memory = 40000
whole_node_disk = 160000
submit_command = qsub -A cyberlamp -l qos=cl_open -N glidein_highmem
running_cmd = qstat | grep "R " | grep glidein_highmem -c
idle_cmd = qstat | grep "Q " | grep glidein_highmem -c
max_total_jobs = 50
max_idle_jobs = 20
limit_per_submit = 1

[gpu]
gpu_only = True
whole_node = True
whole_node_gpus = 1
whole_node_cpus = 2
whole_node_memory = 20000
whole_node_disk = 160000
submit_command = qsub -A cyberlamp -l qos=cl_open -N glidein_gpu
running_cmd = qstat | grep "R " | grep glidein_gpu -c
idle_cmd = qstat | grep "Q " | grep glidein_gpu -c
max_total_jobs = 100
max_idle_jobs = 50
limit_per_submit = 2

[SubmitFile]
local_dir = /tmp/glidein/$PBS_JOBID

[CustomEnv]
GLIDEIN_PARROT_TMP=/tmp/parrot_tmp

[Glidein]
# run every 10 minutes
#delay = 600
delay = 60
#delay = 5
