[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = alberta-test
ssh_state = True
delay = -1
# loc = $HOME
# tarball = glidein.tar.gz

[Cluster]
user = briedel
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 1000
limit_per_submit = 150
cvmfs = True
group_jobs = True
running_cmd = condor_q ice3simusr|grep ice3simusr|wc|awk '{print $1}'

[SubmitFile]
filename = submit.condor
env_wrapper_name = env_wrapper.sh

# [CustomEnv]
# http_proxy = http://squid.icecube.wisc.edu:3128
