[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = DESY
delay = 600
loc = /afs/ifh.de/group/amanda/icecube/icegrid/pyglidein

[Cluster]
user = iceprod
os = RHEL6
scheduler = UGE
limit_per_submit = 16
cvmfs = True
walltime_hrs = 24
partitions = k20, k80, p4, rawr, cpu, cpu-himem

[k20]
gpu_only = True
whole_node = True
whole_node_gpus = 2
whole_node_cpus = 2
whole_node_memory = 8000
whole_node_disk = 160000
max_total_jobs = 15
submit_command = qsub -l gpu_type=nvidia_tesla_k20m -w e -N glidein_k20
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein_k20'|wc -l

[k80]
gpu_only = True
whole_node = True
whole_node_gpus = 4
whole_node_cpus = 4
whole_node_memory = 16000
whole_node_disk = 160000
max_total_jobs = 11
submit_command = qsub -l gpu_type=nvidia_tesla_k80 -w e -N glidein_k80
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein_k80'|wc -l

[p4]
os = RHEL7
gpu_only = True
whole_node = True
whole_node_gpus = 6
whole_node_cpus = 6
whole_node_memory = 96000
whole_node_disk = 160000
max_total_jobs = 6
submit_command = qsub -l gpu_type=nvidia_tesla_p4 -l os=sl7 -w e -N glidein_p4
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein_p4'|wc -l

[rawr]
gpu_only = True
whole_node = True
whole_node_gpus = 1
whole_node_cpus = 1
whole_node_memory = 16000
whole_node_disk = 160000
max_total_jobs = 1
submit_command = qsub -l gpu_type=nvidia_geforce_gtx_1080_ti -w e -N glidein_gtx
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein_gtx'|wc -l

[cpu]
cpu_only = True
mem_per_core = 4000
max_memory_per_job = 8000
max_cpus_per_job = 16
submit_command = qsub -w e -N glidein_cpu
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein_cpu'|wc -l
idle_cmd = qstat -s p -u $USER -xml |grep '<JB_name>glidein_cpu'|wc -l
max_total_jobs = 1000
max_idle_jobs = 100
limit_per_submit = 100

[cpu-himem]
cpu_only = True
os = RHEL7
mem_per_core = 11000
max_memory_per_job = 20000
max_cpus_per_job = 26
submit_command = qsub -w e -N glidein_himem -l os=sl7
running_cmd = qstat -u $USER -xml |grep '<JB_name>glidein_himem'|wc -l
idle_cmd = qstat -s p -u $USER -xml |grep '<JB_name>glidein_himem'|wc -l
max_total_jobs = 156
max_idle_jobs = 100
limit_per_submit = 100

[SubmitFile]
filename = glidein.gpu
local_dir = $TMPDIR
cvmfs_job_wrapper = False

