[Mode]
debug = False

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
ssh_state = True
delay = -1
loc = $HOME/glidein
tarball = glidein.tar.gz
executable = glidein_start.sh

[Cluster]
user = briedel
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit
max_total_jobs = 1500
limit_per_submit = 150
gpu_only = False
running_cmd = condor_q ice3simusr|grep ice3simusr|wc|awk '{print $1}'

[SubmitFile]
filename = submit.condor
env_wrapper_name = env_wrapper.sh

[CustomEnv]
http_proxy = http://squid.icecube.wisc.edu:3128
